@inject AppThemeService ThemeService

<h3>Topbar</h3>

<Mud0AppBar Fixed="false">
    <MudIconButton Icon= @Icons.Material.Filled.Menu Color="Color.Inherit" Edge="Edge.Start" />
    <MudSpacer />
    <MudIconButton Icon= @Icons.Custom.Brands.GitHub Color="Color.Inherit" />
</Mud0AppBar>
