@page "/a"

<h1>My Collection</h1>
<MudDivider />

<MudContainer Style="width: 100%">
    <MudGrid Justify="Justify.FlexStart" Spacing="4">
        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/48.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">venonat</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/49.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">venomoth</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/50.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">diglett</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/51.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">dugtrio</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/35.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">clefairy</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/25.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">pikachu</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/79.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">slowpoke</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/56.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">mankey</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/55.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">golduck</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/10.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">caterpie</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/11.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">metapod</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/female/12.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">butterfree</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/13.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">weedle</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/female/44.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">gloom</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/female/133.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">eevee</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-i/red-blue/27.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">sandshrew</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/17.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">pidgeotto</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/18.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">pidgeot</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/female/19.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">rattata</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/23.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">ekans</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/female/20.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">raticate</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/21.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">spearow</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/22.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">fearow</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/24.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">arbok</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem>
            <MudCard Style="width: 200px; height: auto;">
                <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/148.png" Style="width: 200%: height: auto;" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">dragonair</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>



    </MudGrid>
</MudContainer>

