@page "/"

    <h1>Pokemon Overview</h1>
<MudDivider />

<MudContainer Style="width: 100%">
<MudGrid Justify="Justify.FlexStart" Spacing="4">
  <MudItem>
    <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/1.png" Style="width: 200%: height: auto;" />
        <MudCardContent>
            <MudText Typo="Typo.h5">bulbasaur</MudText>
        </MudCardContent>
    </MudCard>
  </MudItem>

  <MudItem>
	<MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/2.png" Style="width: 200%: height: auto;" />
		<MudCardContent>
                <MudText Typo="Typo.h5">ivysaur</MudText>
		</MudCardContent>
	</MudCard>
  </MudItem>

  <MudItem>
    <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/female/3.png" Style="width: 200%: height: auto;" />
        <MudCardContent>
                <MudText Typo="Typo.h5">venusaur</MudText>
        </MudCardContent>
    </MudCard>
  </MudItem>

  <MudItem>
    <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/4.png" Style="width: 200%: height: auto;" />
        <MudCardContent>
                <MudText Typo="Typo.h5">charmander</MudText>
        </MudCardContent>
    </MudCard>
  </MudItem>

  <MudItem>
    <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/5.png" Style="width: 200%: height: auto;" />
        <MudCardContent>
                <MudText Typo="Typo.h5">charmeleon</MudText>
        </MudCardContent>
        </MudCard>
  </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/6.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">charizard</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/7.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">squirtle</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/8.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">wartortle</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/9.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">blastoise</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem> 

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/10.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">caterpie</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/11.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">metapod</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/female/12.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">butterfree</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/13.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">weedle</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/14.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">kakuna</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/15.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">beedrill</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/16.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">pidgey</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/17.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">pidgeotto</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/18.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">pidgeot</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/female/19.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">rattata</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/23.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">ekans</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/female/20.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">raticate</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/21.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">spearow</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/22.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">fearow</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/24.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                <MudText Typo="Typo.h5">arbok</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem>
        <MudCard Style="width: 200px; height: auto;">
            <MudImage src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/shiny/female/25.png" Style="width: 200%: height: auto;" />
            <MudCardContent>
                    <MudText Typo="Typo.h5">pikachu</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem> 



</MudGrid>
</MudContainer>
